.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  height: 100vh;
  padding: 40px;
  gap: 20px;
  font-family: var(--font-geist-sans);
}

.pagetop {
width: 1000px;
height: 100px;
align-items: center;
justify-content: center;
display: flex;
font-size: 45px;
font-weight: 700;
}

.loginContainer {
width: 35%;
height: 65%;
gap: 20px;
display:grid;
align-items:center;
justify-content: center;
background-color: #24292E;
margin: 0px;
box-shadow: none;
padding: 15px 0px 25px 0px;
}

.loginContent {
font-size: 15px;
font-weight: 700;
color: white;
}

.credentials {
  font-size: 25px;
  font-weight: 700;
  color: white;
  }

.log {
width: 1250px;
height: 600px;
gap: 20px;
display: flex;
align-items: top;
padding: 10px;
justify-content: center;
overflow: hidden;
}